<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->

  <%= link_to 'Home', landing_page_path %> |
  <%= link_to 'More bikes', products_path %>