<h1>Personal Information</h1>

<div class="container"> 


  <p><strong>First name:</strong></p>
  <p><%= @user.first_name %></p>



  <p><strong>Last name:</strong></p>
  <p><%= @user.last_name %></p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div> <!-- end container-->
