// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-title {
  position: block;
  margin: 50px auto 50px auto;
}
.table-title th {
  color: purple;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  border-style: solid;
  border-color: #333;
}
.table-content td {
  border-style: solid;
  border-color: #333;
}
.product-img {
  position: block;
  margin: 10px auto 0 auto;
}