// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	color: purple;
	font-family: futura;
	text-align: center; 
}
h2 {
	font-family: futura;
	text-align: center;
}
p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

//Footer
.site-footer {
	height: 50px;
	background: #e7e7e7;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
.site-footer ul {
  -webkit-padding-start: 0;
}
.site-footer li {
  display: inline-block;
  padding: 10px 15px;
}
.site-footer a {
  color: #555;
  padding: 10px;
}
.site-footer p {
  float: right;
  color: #555;
}
