<h1>Our Bikes</h1>
  
  <div class="container-fluid">
    
    <div class="row">
      
      <%= render @products %>
    
    </div> <!-- end row -->

    <br>

    <button type="button" class="btn" style="margin-top: 15px"><%= link_to 'New Product', new_product_path %></button>

    </br>

    <div style="margin: 35px 0">
      <%= link_to 'Home', landing_page_path %> |
      <%= link_to 'More bikes', products_path %>
    </div>
  
  </div> <!-- end container-fluid -->

<br>





